.searchbar {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.searchbar-searchbar {
    display: flex;
    flex-direction: row;
    gap: 5%;
    background-color: var(--martinique);
    width: 40%;
    justify-self: center;
    justify-content: center;
    align-items: center;
    border-radius: 9px;
    height: 40px;
    min-width: 400px;
}

input::placeholder {
    color: black;
    opacity: 0.8
}

.searchbar-input {
    height: 20px;
    width: 50%;
    border-radius: 9px;
    margin-left: 5px;
    border: 3px solid var(--steelgray);
}


.searchbar-submit {
    background-color: var(--butterflybush);
    border-radius: 8px;
    height: 30px;
    padding-bottom: 3px;
    border: 2px var(--gallery) solid;
    transition: 0.2s;
}

.searchbar-submit:hover {
    scale: 105%;
} 

.searchbar-clear {
    background-color: var(--butterflybush);
    border-radius: 8px;
    height: 30px;
    padding-bottom: 3px;
    border: 2px var(--gallery) solid;
    transition: 0.2s;
    margin-right: 8px;
}

.searchbar-clear:hover {
    scale: 105%;
} 


.searchbar-sort {
    display: flex;
    flex-direction: row;
    background-color: var(--martinique);
    width: 20%;
    justify-content: center;
    border-radius: 9px;
    height: 35px;
    align-items: center;
    min-width: 220px;
}

.searchbar-sort-dropdown {
    height: 25px;
    width: 90%;
    border: 3px solid var(--steelgray);
    border-radius: 9px;
}