/* https://colorhunt.co/palette/070f2b1b1a55535c919290c3 */


:root {
    --lucida-font: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    --steelgray: #1e1e2f;
    --martinique: #2a2a4c;
    --butterflybush: #505091;
    --wildblueyonder: #8080bc;
    --gallery: #f0f0f0;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: row;
  width: 100%;
  background-color: var(--steelgray);
  min-height: 100vh;
}

.App-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  color: white;
  padding: 20px;
}

header {
  display: flex;
  flex-direction: row;
  height: 200px;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.header-text {
  display:flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  color: var(--gallery);
}

.flixster-title {
  font-size: 60px;
  margin-bottom: 20px;
}

.banner {
  font-size: 30px;
}

.header-image {
  position: absolute;
  top: 10px;
  left: 10px;
  object-fit: contain;
  height: 200px;
  width: 25%;
}

.content {
  display: flex;
  flex-direction: column;
  width: 80%;
}

main {
  display: flex;
  flex-direction: row;
  width: 100%;
}

footer {
  width: 100%;
  background-color: #1B1A55;
  position: relative;
  bottom: 0;
  color: var(--gallery);
  margin-top: auto;
}

@media (max-width: 600px) {
  .movie-card {
    width: 100%;
  }

  .search-bar {
    flex-direction: column;
    gap: 10px;
  }

  .search-bar form {
    flex-direction: column;
  }
}
