.loadmore-bar {
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.loadmore-button {
    height: 40px;
    width: 160px;
    background-color: #1B1A55;
    border-radius: 9px;
}