.moviecard {
    display: flex;
    flex-direction: column;
    width: 20%;
    height: 40%;
}

.moviecard-clickable {
    display: flex;
    flex-direction: column;
}

.moviecard-clickable:hover {
    cursor: pointer;
}