.movielist {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
    margin: 30px;
    justify-content: center;
    padding-top: 30px;
    border-radius: 9px;
    background-color: #1B1A55;
    padding-bottom: 30px;
    margin-bottom: 0;
}