.moviecard {
    display: flex;
    flex-direction: column;
    width: 20%;
    flex-basis: 20%;
}

.moviecard-modalclickable {
    display: flex;
    flex-direction: column;
    height: 70%;
    flex-grow: 1;
}

.moviecard-modalclickable:hover {
    cursor: pointer;
}

.moviecard-title {
    height: 30%;
}

.moviecard-buttons {
    position: relative;
    bottom: 0;
    display: flex;
    flex-direction: row;
    gap: 40%;
    justify-content: center;
}
