.sidebar {
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 30%;
}

.sidebar-image {
    object-fit: contain;
    width: 15vw;
    height: 15vh;
}

.sidebar-links {
    display: flex;
    flex-direction: column;
    gap: 30px;
    color: #9290C3;
    transition: 0.2s;
}

.sidebar-links > a:hover {
    cursor: pointer;
    text-decoration: underline;
    scale: 105%;
}